@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: rgb(16 185 129);
}

::selection {
    color: white;
    background: rgb(16 185 129);
}